/* Jobs Search */
.jobs-search {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  & .jobs-search__header {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & .jobs-search__title {
      font-size: 4rem;
    }

    & .jobs-search__description {
      font-size: 1.8rem;
      color: var(--text-muted);
    }
  }

  & .jobs-search__form {
    width: 100%;
    max-width: 128rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .search-bar {
      width: 100%;
      background-color: var(--input-bg);
      padding: 1.5rem;
      border: 0.1rem solid var(--border);
      border-radius: 0.7rem;
      box-shadow: 0 10px 15px -3px var(--shadow);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;

      & .search-bar__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        & .search__icon {
          color: var(--text-muted);
        }
      }

      & .search-bar__input {
        font-size: 1.8rem;
        font-family: inherit;
        color: var(--text-primary);
        background: transparent;
        padding: 0 0.5rem;
        outline: none;
        border: none;
        flex: 1;

        &::placeholder {
          color: var(--text-muted);
        }
      }
    }

    .search-filters {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      select {
        font-size: 1.6rem;
        color: var(--text-muted);
        background-color: #242d3a;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        padding: 1rem 1.5rem;
        padding-inline-end: 2.5rem;
        border: 0;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;
        appearance: none;

        &:hover {
          background-color: var(--primary-hover);
          color: var(--text-primary);
        }

        &:focus {
          outline: 0.2rem solid #1173d4;
          outline-offset: 0.2rem;
        }
      }
    }
  }
}

.jobs-result {
  width: 100%;
  max-width: 128rem;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;

  & .jobs-result__title {
    font-size: 2.4rem;
  }

  & .jobs-listings {
    width: 100%;
    min-height: 10rem;
    border: 0.1rem solid var(--border);
    border-radius: 1rem;

    & .job-card {
      background: none;
      box-shadow: none;
      padding: 2rem 2.5rem;
      border-radius: 0;
      border-bottom: 0.1rem solid var(--border);
      display: flex;
      flex-flow: row nowrap;
      align-items: start;
      justify-content: space-between;
      gap: 1rem;

      &:last-child {
        border-bottom: none;
      }

      &.is-hidden {
        display: none;
      }

      & .job-card__info {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        justify-content: center;
        gap: 1rem;

        & .job-card__title {
          font-size: 1.8rem;
          font-weight: 500;
          color: var(--text-primary);
        }

        & .job-card__description {
          font-size: 1.6rem;
          color: var(--text-primary);
        }

        & .job-card__details {
          font-size: 1.2rem;
          color: var(--text-muted);
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;

          & span {
            padding-inline-end: 0.5rem;
            border-inline-end: 0.2rem solid var(--text-muted);

            &:last-child {
              padding-inline-end: 0rem;
              border-inline-end: none;
            }
          }
        }

        & .job-card__tech {
          font-size: 1.4rem;
          color: var(--text-muted);
        }
      }

      & .job-card__btns {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        & .button-apply-job {
          font-size: 1.6rem;
          font-weight: 500;
          color: var(--text-primary);
          background: var(--primary-light);
          &:hover {
            background: var(--primary-hover);
          }

          &.is-applied {
            background: #4caf50;
            pointer-events: none;
          }
        }

        & .button-view-details {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--text-primary);
          background: var(--primary-light);
          &:hover {
            background: var(--primary-hover);
          }
        }
      }
    }

    & .no-results {
      font-size: 1.8rem;
      color: var(--text-muted);
      padding: 2rem 2.5rem;
      text-align: center;
    }
  }

  & .pagination {
    width: 100%;
    padding-block: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;

    a {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--text-muted);
      text-decoration: none;
      border-radius: 0.5rem;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: var(--text-primary);
        background-color: var(--primary-hover);
      }

      &:active {
        transform: scale(0.9);
      }

      &.is-active {
        background-color: var(--primary-light);
        color: var(--text-primary);
        pointer-events: none;
      }
    }
  }
}
