.job-card {
  background: none;
  box-shadow: none;
  padding: 2rem 2.5rem;
  border-radius: 0;
  border-bottom: 0.1rem solid var(--border);
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;

  &:last-child {
    border-bottom: none;
  }

  &.is-hidden {
    display: none;
  }

  & .job-card__info {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    & .job-card__title {
      font-size: 1.8rem;
      font-weight: 500;
      color: var(--text-primary);
    }

    & .job-card__description {
      font-size: 1.6rem;
      color: var(--text-primary);
    }

    & .job-card__details {
      font-size: 1.2rem;
      color: var(--text-muted);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: start;
      gap: 0.5rem;

      & span {
        padding-inline-end: 0.5rem;
        border-inline-end: 0.2rem solid var(--text-muted);

        &:last-child {
          padding-inline-end: 0rem;
          border-inline-end: none;
        }
      }
    }

    & .job-card__tech {
      font-size: 1.4rem;
      color: var(--text-muted);
    }
  }

  & .job-card__btns {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & .button-apply-job {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--text-primary);
      background: var(--primary-light);
      &:hover {
        background: var(--primary-hover);
      }

      &.is-applied {
        background: #4caf50;
        pointer-events: none;
      }
    }

    & .button-view-details {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--text-primary);
      background: var(--primary-light);
      &:hover {
        background: var(--primary-hover);
      }
    }
  }
}
